{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>
      {% block title %}
      ClickCart | One of the Biggest Online Shopping Platform
      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AcuCxb1nlh8smy0Z8a5GJTcEBZWT_Zid8QMtSm9tgxy6kAK90hmYls19s-4p_ajCaROViThXnLtjiJn3&currency=USD"></script>

    <script type="text/javascript">
      /// some script

      // jquery ready start
      $(document).ready(function () {
        // jQuery code
      });
      // jquery end
    </script>
  </head>
  <body>
    <!-- Navbar -->
    {% include "includes/navbar.html" %}

    <!-- Content -->
    {% block content %} {% endblock %}

    <!-- Footer -->
    {% include "includes/footer.html" %}
  </body>
</html>
